---
apiVersion: v1
kind: ConfigMap
metadata:
  name: skupper-site
  namespace: central
data:
  name: central
  console: "true"
  console-user: "admin"
  console-password: "changeme"
  flow-collector: "true"
---
apiVersion: v1
kind: Secret
metadata:
  labels:
    skupper.io/type: connection-token-request
  name: central-token